discord.py
wolframalpha
alexa-reply  
randfacts   
requests
pymongo
wikipedia
pillow
dnspython
pyjokes
discord-components
PyNaCl
asyncpraw
buttons
#discord_slash_components_bridge
discord-py-slash-command
discord_py_interactions
youtube_dl
pet-pet-gif
emoji
#pipreqs
#git+https://github.com/Pycord-Development/pycord